* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a8e6cf;
  font-family: Arial, Helvetica, sans-serif;
}

.form-contact {
  background-color: #FFF;
<<<<<<< HEAD
  width: 450px;
=======
  width: 420px;
>>>>>>> a880d5c7ed346ebc94176b0b425b8f5482b81d03
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
<<<<<<< HEAD
  margin-top: 2px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
=======
  margin-top: 80px;
>>>>>>> a880d5c7ed346ebc94176b0b425b8f5482b81d03
}

header {
  width: 100%;
  background-color: #ff165d;
  overflow: hidden;
  color: white;
  position: relative;
<<<<<<< HEAD
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
=======
>>>>>>> a880d5c7ed346ebc94176b0b425b8f5482b81d03
}

header span {
  font-size: 100px;
  display: block;
  text-align: center;
  padding: 2.5rem;
}

.contact {
  padding: .8rem;
  overflow: hidden;
  color: gray;
  margin-bottom: 50px;
}

.contact label,
<<<<<<< HEAD
.contact input,
.contact select {
=======
.contact input {
>>>>>>> a880d5c7ed346ebc94176b0b425b8f5482b81d03
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.contact label {
  font-weight: 700;
}

.contact input {
  border: none;
  border-bottom: 2px solid #ff165d;
  margin-bottom: 10px;
<<<<<<< HEAD
  font-size: 18px;
  outline: none;
  color: gray;
}

.contact select {
  border: none;
  border-bottom: 2px solid #ff165d;
  margin-bottom: 10px;
  font-size: 18px;
=======
  font-size: 20px;
>>>>>>> a880d5c7ed346ebc94176b0b425b8f5482b81d03
  outline: none;
  color: gray;
}

button {
  padding: 10px;
  border: none;
<<<<<<< HEAD
  border-radius: 4px;
=======
>>>>>>> a880d5c7ed346ebc94176b0b425b8f5482b81d03
  background-color: #ff165d;
  color: white;
  font-size: 20px;
  cursor: pointer;
<<<<<<< HEAD
  position: absolute;
  left: 32%;
  bottom: 2%;
}

.idestado, .modulo {
  display: none !important;
=======
  position: relative;
  left: 30%;
  margin-top: 60px;
>>>>>>> a880d5c7ed346ebc94176b0b425b8f5482b81d03
}